body {
  font-family: 'Open Sans', sans-serif;
  background: #203748; }

a {
  outline: none !important; }

.wrap {
  max-width: 1170px;
  margin: 0px auto;
  padding: 100px 20px; }

.hamburger {
  height: 30px;
  width: 30px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .hamburger__line {
    width: 100%;
    height: 3px;
    background: #ffffff; }


.fill{
  background: #f04949;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10px;
  opacity: 0;
  transition: 0.3s; }


.title {
  font-size: 46px;
  line-height: 60px;
  margin-bottom: 100px;
  font-weight: bold;
  color: #ffffff; }

.fixed {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5); }
  .fixed .header__wrap {
    padding: 5px 20px; }

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #f04949;
  transition: 0.3s; }
  .header__wrap {
    transition: 0.3s;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .header__mobile {
    display: none;
    flex-direction: column;
    align-items: center; }
    .header__mobile .list {
      overflow: hidden;
      height: 0px; }
    .header__mobile .flex {
      height: 200px;
      margin-top: 30px; }

.list {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  transition: 0.3s; }
  .list__item {
    height: 20px;
    display: flex;
    align-items: center;
    min-width: 90px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0px 10px;
    border-radius: 30px;
    color: #ffffff;
    transition: 0.3s; }
    .list__item--active {
      background: #203748; }
    .list__item:hover {
      background: #203748; }
    .list__item img {
      height: 20px;
      margin-right: 10px; }

.profile {
  color: #ffffff; }
  .profile__wrap {
    min-height: calc(100vh - 250px);
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .profile__image {
    height: 300px;
    min-width: 300px;
    max-width: 300px;
    background: #EFEFEF;
    border-radius: 50%;
    border: 5px solid #fff;
    background: url(../img/profile.jpg);
    background-size: cover;
    background-position: center; }

.info {
  margin: 50px 70px;
  margin-right: 0; }
  .info__title {
    color: #2AC66A;
    margin-bottom: 10px; }
  .info__subtitle {
    font-size: 30px;
    margin-left: 5px;
    margin-top: 10px; }
  .info__desc {
    font-size: 24px;
    margin: 50px 0;
    line-height: 35px; }
  .info__contact {
    font-size: 20px; }

.contact {
  display: flex; }
  .contact__text {
    margin-top: 5px;
    margin-right: 10px; }
  .contact__link {
    margin: 0px 10px;
    width: 50px;
    display: flex;
    align-items: center;
    opacity: 0.8;
    transition: 0.3s; }
    .contact__link:hover {
      opacity: 1; }
    .contact__link img {
      width: 50px; }

.skills__title {
  text-align: center; }

.rows {
  color: #ffffff; }
  .rows__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0; }
    .rows__item-img {
      font-size: 24px;
      font-weight: bold;
      height: 100px;
      max-width: 100px;
      min-width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f04949;
      border-radius: 50%;
      margin-right: 20px; }

.bar {
  max-width: 1050px;
  width: 1050px; }
  .bar__line {
    height: 10px;
    width: 100%;
    background: #fff;
    border-radius: 15px; }
    .bar__line div {
      height: 100%;
      border-radius: inherit; }
  .bar__text {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; }

#ps .rows__item-img {
  background: #30a5dc; }

#ps .bar__line div {
  background: #30a5dc;
  width: 70%; }

#html .rows__item-img {
  background: #f04949; }

#html .bar__line div {
  background: #f04949;
  width: 90%; }

#css .rows__item-img {
  background: #39d084; }

#css .bar__line div {
  background: #39d084;
  width: 75%; }

#js .rows__item-img {
  background: #ee742b; }

#js .bar__line div {
  background: #ee742b;
  width: 50%; }

.works__title {
  text-align: center; }

.plates {
  display: grid;
  grid-column-gap: 45px;
  grid-row-gap: 60px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); }
  .plates__item {
    position: relative;
    height: 280px;
    border-radius: 15px;
    background: #e4e4e4;
    transition: 0.3s;
    display: flex;
    background-size: contain;
    overflow: hidden;
     }
    .plates__item:hover .fill{
      opacity: 0.9; }
    .plates__item img{
      object-fit: cover;
      width: 100%;
    }

.resume__title {
  text-align: center; }

.resume .content {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.resume .subtitle {
  color: #ffffff;
  font-size: 26px;
  text-align: center; }


  #s1{
    /* background: url(../img/mamon.png) !important; */
  }
/*# sourceMappingURL=index.css.map */
