body {
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden; }

.wrap {
  max-width: 1170px;
  height: 100%;
  margin: 0px auto;
  padding: 65px 0; }

.button {
  display: block;
  background: #27AE61;
  border-radius: 100px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
  font-size: 24px; }
  .button:hover {
    color: #ffffff;
    text-decoration: none; }

.input {
  border: none;
  border-bottom: 2px solid #95989A;
  background: none;
  padding: 10px 0px;
  transition: 0.3s; }
  .input:focus {
    border-bottom: 2px solid #27AE61; }

.heading {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px; }

ul.slick-dots li {
  transition: 0.5s;
  border: 1px solid #cfcfcf;
  border-radius: 50%; }

ul.slick-dots li.slick-active {
  background: #27AE61; }

ul.slick-dots button::before {
  height: 20px;
  width: 20px;
  content: ''; }

.headSlider {
  background: url(../../img/headSlider.png) #1A1A1A;
  background-size: cover;
  color: #ffffff;
  min-height: 100vh; }
  .headSlider-header {
    color: #ffffff; }
    .headSlider-header .navbar-brand {
      font-weight: bold; }
    .headSlider-header .nav-item {
      font-weight: 700;
      transition: 0.3s; }
      .headSlider-header .nav-item:hover {
        color: #27AE61 !important; }
  .headSlider .slick-list {
    height: calc(100% - 100px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .headSlider-slider {
    height: calc(100vh - 58px); }
    .headSlider-slider-wrap {
      height: calc(100% - 50px); }
      .headSlider-slider-wrap__item h1 {
        font-size: 72px;
        font-weight: bold; }
      .headSlider-slider-wrap__item p {
        font-size: 24px;
        margin-bottom: 53px; }
      .headSlider-slider-wrap__item .button {
        width: 195px;
        margin: 0px auto; }

.education .block-education-desc {
  max-width: 450px; }
  .education .block-education-desc h1 {
    font-size: 36px;
    font-weight: bold; }
  .education .block-education-desc p {
    line-height: 24px;
    font-size: 18px; }
  .education .block-education-desc-icons__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px; }
    .education .block-education-desc-icons__item span {
      font-size: 26px;
      font-weight: bold;
      line-height: 100%;
      margin-left: 20px; }

.education .block-education__img {
  max-width: 570px;
  min-width: 280px;
  margin-bottom: 30px; }
  .education .block-education__img img {
    width: 100%; }

.features {
  background: #f1f1f1; }
  .features .block-features-cards-item {
    width: 370px;
    height: 330px;
    padding: 0px 60px;
    margin-bottom: 60px; }
    .features .block-features-cards-item h1 {
      font-size: 24px;
      margin-bottom: 15px; }
    .features .block-features-cards-item p {
      line-height: 18px; }
    .features .block-features-cards-item__img {
      height: 170px;
      width: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      margin: 0px auto;
      border-radius: 100%;
      margin-bottom: 10px; }

.courses .block-courses ul.slick-dots li {
  transition: 0.5s;
  border: 2px solid #000;
  border-radius: 50%; }

.courses .block-courses ul.slick-dots li.slick-active {
  background: #27AE61; }

.courses .block-courses ul.slick-dots button::before {
  height: 15px;
  width: 15px;
  content: ''; }

.courses .block-courses-cards {
  display: flex;
  justify-content: space-between; }
  .courses .block-courses-cards-item {
    margin: 0px auto; }
    .courses .block-courses-cards-item .wrapper {
      padding: 0px 20px;
      max-width: 370px;
      min-width: 280px;
      height: 780px;
      margin: 0px auto; }
    .courses .block-courses-cards-item__img {
      width: 100%;
      overflow: hidden;
      height: 300px; }
      .courses .block-courses-cards-item__img img {
        height: 100%; }
    .courses .block-courses-cards-item-desc {
      height: 410px;
      background: #f1f1f1;
      padding: 30px 0px; }
      .courses .block-courses-cards-item-desc-text {
        border-bottom: 3px solid #CFCFCF;
        padding: 0px 20px; }
        .courses .block-courses-cards-item-desc-text h1 {
          font-size: 30px;
          margin-bottom: 24px; }
        .courses .block-courses-cards-item-desc-text p {
          margin-right: 30px;
          margin-bottom: 20px;
          line-height: 22px; }
      .courses .block-courses-cards-item-desc-params {
        padding: 0px 20px;
        height: 50%; }
        .courses .block-courses-cards-item-desc-params span {
          display: block;
          padding: 10px 0;
          border-bottom: 2px solid #CFCFCF;
          font-weight: bold;
          font-size: 22px; }
        .courses .block-courses-cards-item-desc-params .button {
          margin-top: 60px; }

.teachers .block-teachers {
  padding-bottom: 80px; }
  .teachers .block-teachers ul.slick-dots li {
    transition: 0.5s;
    border: 2px solid #000;
    border-radius: 50%; }
  .teachers .block-teachers ul.slick-dots li.slick-active {
    background: #4E4E4E; }
  .teachers .block-teachers ul.slick-dots button::before {
    height: 9px;
    width: 9px;
    content: ''; }
  .teachers .block-teachers-cards {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    max-height: 415px; }
    .teachers .block-teachers-cards-item-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0px auto;
      margin-bottom: 80px; }
      .teachers .block-teachers-cards-item-wrap__desc {
        display: flex;
        flex-direction: column;
        min-width: 200px; }
        .teachers .block-teachers-cards-item-wrap__desc h1 {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 5px; }
        .teachers .block-teachers-cards-item-wrap__desc span {
          font-size: 18px;
          font-weight: bold;
          color: #27ae60; }
      .teachers .block-teachers-cards-item-wrap__img {
        height: 100%;
        margin-right: 36px; }

.programs .block-programs-plates {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .programs .block-programs-plates-item {
    height: 370px;
    width: 370px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff; }
    .programs .block-programs-plates-item h1 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 25px; }
    .programs .block-programs-plates-item p {
      font-size: 18px;
      line-height: 24px;
      max-width: 230px; }
  .programs .block-programs-plates .p1 {
    background: #27AE60 url("../../img/programs1.png"); }
  .programs .block-programs-plates .p2 {
    background: #27AE60 url("../../img/programs2.png"); }
  .programs .block-programs-plates .p3 {
    background: #27AE60 url("../../img/programs3.png"); }
  .programs .block-programs-plates .p4 {
    background: #27AE60 url("../../img/programs4.png"); }
  .programs .block-programs-plates .p5 {
    background: #27AE60 url("../../img/programs5.png"); }
  .programs .block-programs-plates .p6 {
    background: #27AE60 url("../../img/programs6.png"); }

.subscribe {
  background: url("../../img/subscribe.png");
  background-size: cover; }
  .subscribe .block-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
    padding: 50px 0; }
    .subscribe .block-subscribe__text {
      font-size: 36px;
      font-weight: bold;
      margin: 20px auto;
      text-align: center; }
    .subscribe .block-subscribe form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      max-width: 610px;
      width: 610px;
      min-width: 280px; }
      .subscribe .block-subscribe form input {
        max-width: 370px;
        width: 370px;
        color: #ffffff;
        margin: 0px auto; }
      .subscribe .block-subscribe form .button {
        max-width: 200px;
        width: 200px;
        margin: 20px auto; }

.contact .block-contact-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .contact .block-contact-content form {
    margin: 0px auto;
    margin-bottom: 40px;
    max-width: 550px;
    width: 550px;
    min-width: 240px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .contact .block-contact-content form .button {
      width: 200px; }
    .contact .block-contact-content form textarea.input {
      border: 2px solid #95989A;
      padding: 20px; }
      .contact .block-contact-content form textarea.input:focus {
        border: 2px solid #27AE61; }
  .contact .block-contact-content-map {
    margin: 0px auto;
    width: 48%;
    max-width: 550px;
    width: 550px;
    min-width: 240px; }
    .contact .block-contact-content-map-text {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .contact .block-contact-content-map-text-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 150px;
        margin: 30px 0; }
        .contact .block-contact-content-map-text-item span {
          margin-top: 16px;
          font-size: 18px;
          line-height: 24px; }

footer {
  background: #1A1A1A;
  padding: 0; }
  footer .wrap {
    padding: 20px 0; }

@media screen and (max-width: 1120px) {
  .block-contact-content-map-text {
    flex-direction: column;
    padding: 0px 30px; }
  .wrap {
    padding: 60px 20px; }
  .block-teachers-cards-item-wrap__desc {
    flex-direction: column;
    align-items: center; }
  .block-teachers-cards-item-wrap__img {
    margin: 0 !important; }
  .block-teachers-cards-item-wrap {
    flex-direction: column; }
  .block-programs-plates-item {
    margin: 0px auto; } }

@media screen and (max-width: 768px) {
  .headSlider-slider-wrap__item h1 {
    font-size: 36px; }
  .headSlider-slider-wrap__item p {
    font-size: 14px; } }

/*# sourceMappingURL=index.css.map */
