<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='freelancehunt' content='affcf9d00781698'>
    <title>Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/css/reset.css">
    <link rel="stylesheet" href="../styles/css/index.css">
    <link rel="stylesheet" href="../styles/css/media.css">
    <link rel="stylesheet" href="../styles/css/fonts.css">
</head>
<body>
    
    <!-- header -->
    <header class="header default">
        <div class="wrap header__wrap">

            <div class="header__desktop">
                <div class="list header__desktop-list">
                    <a href="#profile" class="list__item list__item--active">
                        <img src="../img/svg/user-solid.svg" alt="">
                        <span>профиль</span>
                    </a>
                    <a href="#skills" class="list__item">
                        <img src="../img/svg/shapes-solid.svg" alt="">
                        <span>навыки</span>
                    </a>
                    <a href="#works" class="list__item">
                        <img src="../img/svg/suitcase-solid.svg" alt="">
                        <span>работы</span>
                    </a>
                    <a href="#resume" class="list__item">
                        <img src="../img/svg/file-alt-solid.svg" alt="">
                        <span>резюме</span>
                    </a>
                </div>
            </div>

            <div class="header__mobile">

                <div class="hamburger">
                    <span class="hamburger__line"></span>
                    <span class="hamburger__line"></span>
                    <span class="hamburger__line"></span>
                </div>



                <div class="list header__mobile-list">
                    <a href="#profile" class="list__item list__item--active">
                        <img src="../img/svg/user-solid.svg" alt="">
                        <span>профиль</span>
                    </a>
                    <a href="#skills" class="list__item">
                        <img src="../img/svg/shapes-solid.svg" alt="">
                        <span>навыки</span>
                    </a>
                    <a href="#works" class="list__item">
                        <img src="../img/svg/suitcase-solid.svg" alt="">
                        <span>работы</span>
                    </a>
                    <a href="#resume" class="list__item">
                        <img src="../img/svg/file-alt-solid.svg" alt="">
                        <span>резюме</span>
                    </a>
                </div>
            </div>

        </div>
    </header>

    <!-- profile -->
    <div class="profile" id="profile">
        <div class="wrap profile__wrap">
            <div class="profile__image">

            </div>

            <div class="info profile__info">
                <h1 class="title info__title green">
                    Евгений Гурьев
                </h1>
                <p class="info__subtitle">
                    front-end разработчик
                </p>
                <p class="info__desc">
                    Привет! Меня зовут Евгений и я front-end разработчик <br> с опытом работы
                </p>
                <div class="contact info__contact">
                    <span  class="contact__text">Связь со мной:</span>
                    <a href="https://t.me/Loner_feed" target="_blank" class="contact__link"><img src="../img/svg/telegram-brands.svg" alt=""></a>
                    <a href="https://vk.com/id580946604" target="_blank" class="contact__link"><img src="../img/svg/vk-brands.svg" alt=""></a>
                </div>
            </div>

        </div>

        
    </div>

    <!-- skills -->
    <div class="slills" id="skills">
        <div class="wrap skills__wrap">
            <h1 class="title skills__title">
                Мои Навыки
            </h1>

            <div class="rows skills__rows">

                <div class="rows__item" id="ps">
                    <div class="rows__item-img">
                        <span>Ps</span>
                    </div>

                    <div class="bar">
                        <div class="bar__text">
                            <span>photoshop</span>
                            <span>70%</span>
                        </div>
                        <div class="bar__line">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="rows__item" id="html">
                    <div class="rows__item-img">
                        <span>HTML5</span>
                    </div>

                    <div class="bar">
                        <div class="bar__text">
                            <span>html5</span>
                            <span>90%</span>
                        </div>
                        <div class="bar__line">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="rows__item" id="css">
                    <div class="rows__item-img">
                        <span>CSS3</span>
                    </div>

                    <div class="bar">
                        <div class="bar__text">
                            <span>css3</span>
                            <span>75%</span>
                        </div>
                        <div class="bar__line">
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="rows__item" id="js">
                    <div class="rows__item-img">
                        <span>JS</span>
                    </div>

                    <div class="bar">
                        <div class="bar__text">
                            <span>js / JQuery</span>
                            <span>50%</span>
                        </div>
                        <div class="bar__line">
                            <div></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- works -->
    <div class="works" id="works">
        <div class="wrap works__wrap">
            <h1 class="title works__title">
                Мои работы
            </h1>

            <div class="plates works__plates">
                <a href="../sites/mamon/views/index.html" class="plates__item" id="s1">
                    <img src="../img/mamon.png" alt="">
                    <div class="fill">
                    </div>
                </a>

                <a href="https://baby-maydanchik.com.ua" class="plates__item" id="s2" target="_blank">
                    <img src="../img/baby-maydanchik.png" alt="">
                    <div class="fill">
                    </div>
                </a>

                <a href="http://ttt.s-host.net" class="plates__item" id="s3" target="_blank">
                    <img src="../img/site-me.png" alt="">
                    <div class="fill">
                    </div>
                </a>

                <a href="https://www.zhara.in.ua" class="plates__item" id="s4" target="_blank">
                    <img src="../img/zhara.png" alt="">
                    <div class="fill">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- resume -->
    <div class="resume" id="resume">
        <div class="wrap resume__wrap">
            <h1 class="title resume__title">
                Мое резюме
            </h1>

            <div class="content">
                <p class="subtitle">
                    Резюме пока не написано... :(
                </p>
            </div>
        </div>
    </div>
    



    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="../js/index.js"></script>
</body>
</html>