<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./../styles/css/index.css">
    <link rel="stylesheet" href="./../styles/css/media.css">
    <link rel="stylesheet" href="./../styles/css/reset.css">
    <link rel="stylesheet" href="./../styles/css/fonts.css">
</head>

<body>

    <!-- slider -->
    <section class="slider">

        <!-- header -->
        <header class="header slider__header">
            <div class="wrap header__wrap">
                <ul class="list header__list">
                    <li class="list__item list__item--active"><a class="list__link" href="javascript://">Главная</a></li>
                    <li class="list__item"><a class="list__link" href="javascript://">Наши проекты</a></li>
                    <li class="list__item"><a class="list__link" href="javascript://">Услуги</a></li>
                    <li class="list__item"><a class="list__link" href="javascript://">Новости</a></li>
                    <li class="list__item"><a class="list__link" href="javascript://">Контакты</a></li>
                </ul>
            </div>
        </header>

        <div class="wrap">
            <div class="content slider__content">
                <p class="subtitle content__subtitle">
                    Передовая IT студия
                </p>
                <h1 class="title content__title">
                    Мы создаем легкие решения
                    сложных задач и проблем
                </h1>
                <a href="javascript://" class="button content__button">
                    Наши проекты
                </a>
            </div>
        </div>
    </section>

    <!-- services -->
    <section class="services" id="services">
        <div class="wrap services__wrap">
            <h1 class="title services__title">
                Мы создаем мобильные приложения
                для крупных корпораций
            </h1>
            <p class="subtitle services__subtitle">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века.
            </p>
            <!-- plates -->
            <div class="plates services__plates">
                <!-- item -->
                <div class="item plates__item">
                    <div class="item__logo">
                        <img src="../img/svg/services-item-logo.svg" alt="">
                    </div>
                    <div class="item__text">
                        <h3>Создание сайтов</h3>
                        <p>
                            Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
                        </p>
                    </div>
                </div>
                <!-- item -->
                <div class="item plates__item">
                    <div class="item__logo">
                        <img src="../img/svg/services-item-logo.svg" alt="">
                    </div>
                    <div class="item__text">
                        <h3>Создание сайтов</h3>
                        <p>
                            Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
                        </p>
                    </div>
                </div>
                <!-- item -->
                <div class="item plates__item">
                    <div class="item__logo">
                        <img src="../img/svg/services-item-logo.svg" alt="">
                    </div>
                    <div class="item__text">
                        <h3>Создание сайтов</h3>
                        <p>
                            Lorem Ipsum - это текст- "рыба", часто используе в печати и вэб-дизайне.
                        </p>
                    </div>
                </div>
            </div>

            <a href="javascript://" class="button services__button">Все услуги</a>
        </div>
    </section>

    <!-- about -->
    <section class="about" id="about">
        <div class="wrap about__wrap">

            <div class="text about__text">
                <h1 class="title text__title">
                    Высокие стандарты разработки
                </h1>
                <p class="subtitle text__subtitle">
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной "рыбой" для текстов на латинице с начала XVI века. стандартной "рыбой" для текстов на
                    латинице с начала XVI века.
                </p>
                <a href="javascript://" class="accent text__link">
                    Подробнее о компании
                </a>
            </div>

            <div class="about__img">
                <img src="./../img/about.png" alt="">
            </div>
        </div>
        <div class="stats about__stats">
            <div class="wrap stats__wrap">
                <div class="plates stats__plates">
                    <div class="item stats__item">
                        <div class="stats__number">
                            <img src="./../img/svg/web-programming.svg" alt="">
                            <h1>
                                125
                            </h1>
                        </div>
                        <span class="subtitle">
                            Our projects
                        </span>
                    </div>

                    <div class="item stats__item">
                        <div class="stats__number">
                            <img src="./../img/svg/web-programming.svg" alt="">
                            <h1>
                                125
                            </h1>
                        </div>
                        <span class="subtitle">
                            Our projects
                        </span>
                    </div>

                    <div class="item stats__item">
                        <div class="stats__number">
                            <img src="./../img/svg/web-programming.svg" alt="">
                            <h1>
                                125
                            </h1>
                        </div>
                        <span class="subtitle">
                            Our projects
                        </span>
                    </div>

                    <div class="item stats__item">
                        <div class="stats__number">
                            <img src="./../img/svg/web-programming.svg" alt="">
                            <h1>
                                125
                            </h1>
                        </div>
                        <span class="subtitle">
                            Our projects
                        </span>
                    </div>

                    <div class="item stats__item">
                        <div class="stats__number">
                            <img src="./../img/svg/web-programming.svg" alt="">
                            <h1>
                                125
                            </h1>
                        </div>
                        <span class="subtitle">
                            Our projects
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- specialize -->
    <section class="specialize">
        <div class="wrap specialize__wrap">
            <div class="head specialize__head">
                <h1 class="title head__title">
                    Наши работы, на которых
                    мы специализируемся
                </h1>
                <a href="javascript://" class="button head__button">
                    Все услуги
                </a>
            </div>

            <div class="plates specialize__plates">
                <div class="item specialize__item">
                    <div class="img item__img">
                        <img src="../img/specialize-item.png" alt="">
                    </div>
                    <h3 class="specialize__item-heading"><span class="accent">01.</span>Исследование и упаковка</h3>
                    <p class="subtitle specialize__subtitle">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной "рыбой" для текстов на латинице с начала XVI века.
                    </p>
                    <a href="javascript://" class="accent accent__link">Подробнее</a>
                </div>

                <div class="item specialize__item">
                    <div class="img item__img">
                        <img src="../img/specialize-item.png" alt="">
                    </div>
                    <h3 class="specialize__item-heading"><span class="accent">01.</span>Исследование и упаковка</h3>
                    <p class="subtitle specialize__subtitle">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной "рыбой" для текстов на латинице с начала XVI века.
                    </p>
                    <a href="javascript://" class="accent accent__link">Подробнее</a>
                </div>

                <div class="item specialize__item">
                    <div class="img item__img">
                        <img src="../img/specialize-item.png" alt="">
                    </div>
                    <h3 class="specialize__item-heading"><span class="accent">01.</span>Исследование и упаковка</h3>
                    <p class="subtitle specialize__subtitle">
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                        стандартной "рыбой" для текстов на латинице с начала XVI века.
                    </p>
                    <a href="javascript://" class="accent accent__link">Подробнее</a>
                </div>
            </div>
        </div>
    </section>

    <!-- projects -->
    <section class="projects">
        <div class="wrap projects__wrap">
            <h1 class="title projects__title">
                Наши проекты
            </h1>
            <p class="subtitle projects__subtitle">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века.
            </p>
            <div class="plates projects__plates">
                <div class="item projects__item">
                    <img src="../img/projects-item.png" alt="">
                </div>

                <div class="item projects__item">
                    <img src="../img/projects-item.png" alt="">
                </div>

                <div class="item projects__item">
                    <img src="../img/projects-item.png" alt="">
                </div>

                <div class="item projects__item">
                    <img src="../img/projects-item.png" alt="">
                </div>
            </div>
            <a href="javascript://" class="projects__button button">
                Все проекты
            </a>
        </div>
    </section>

    <!-- subscribe -->
    <section class="subscribe">
        <div class="wrap subscribe__wrap">
            <h3>Подпишитесь на нашу рассылку</h3>
            <p class="subtitle subscribe__subtitle">
                Полезные статьи, акции, новости - получите все это сейчас!
            </p>
            <form action="suscribe" class="form">
                <input type="email" name="" id="" placeholder="Ваш e-mail" class="form__input">
                <a href="javascript://" class="button form__button">Подписаться</a>
            </form>
            <span class="subscribe__label">Мы не шлем спам, и передаем никому ваши данные.</span>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div class="wrap footer__wrap">
            <div class="menu">
                <ul class="menu__item footer__list">
                    <h3>Контактная информация</h3>
                    <li><img src="../img/svg/envelope.svg" alt="">test@test.ru</li>
                    <li><img src="../img/svg/call.svg" alt="">+8 777 555 66 99</li>
                    <li><img src="../img/svg/placeholder.svg" alt="">Москва, Бульвар Ленина 33</li>
                </ul>
                <ul class="menu__item footer__list">
                    <h3>Основные ссылки</h3>
                    <li>> <a href="javascript://">Главная</a></li>
                    <li>> <a href="javascript://">Наши проекты</a></li>
                    <li>> <a href="javascript://">Наши услуги</a></li>
                    <li>> <a href="javascript://">Контакты</a></li>
                </ul>
                <ul class="menu__item footer__list">
                    <h3>Наши проекты</h3>
                    <li>> <a href="javascript://">РосНано</a></li>
                    <li>> <a href="javascript://">Сколково</a></li>
                    <li>> <a href="javascript://">Проект "Восток"</a></li>
                    <li>> <a href="javascript://">ТЭЦ Калининграда</a></li>
                </ul>
                <ul class="menu__item footer__list">
                    <h3>Социальные сети</h3>
                    <li>> <a href="javascript://">VK.com</a></li>
                    <li>> <a href="javascript://">Instagram</a></li>
                    <li>> <a href="javascript://">Facebook</a></li>
                    <li>> <a href="javascript://">Twitter</a></li>
                </ul>
            </div>
        </div>
    </footer>


    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>
    
</body>

</html>