<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/trm8imo.css">
    <link rel="stylesheet" href="../styles/css/reset.css">
    <link rel="stylesheet" href="../styles/css/index.css">
</head>
<body>
    <section class="subscribe" id="subscribe">
        <div class="wrap">
            <div class="block-subscribe">
                <h2 class="block-subscribe__title">
                    Subscribe to our monthly newsletter and stay up to date with all news and events.
                </h2>
                <div class="block-subscribe-form">
                    <input type="text" placeholder="Enter your email address" class="block-subscribe-form__input">
                    <a href="#" class="block-subscribe-form__button button">Read more</a>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer" id="footer">
        <div class="wrap">
            <div class="block-footer">
                <div class="block-footer__logo">
                    <span>The Green
                        Trees Initiative</span>
                </div>
                <div class="block-footer-info">
                    <div class="block-footer-info-item">
                        <div class="block-footer-info-item__title">
                            <span>contact us</span>
                        </div>
                        <div class="block-footer-info-item__line"></div>
                        <span class="block-footer-info-item__link">
                            123 Anywhere St.
                            Cityname, NY 11206
                            (123) 456-7890
                            contact@npo.org
                        </span>
                    </div>
                    <div class="block-footer-info-item">
                        <div class="block-footer-info-item__title">
                            <span>links</span>
                        </div>
                        <div class="block-footer-info-item__line"></div>
                        <a href="#" class="block-footer-info-item__link">
                            The issue
                        </a>
                        <a href="#" class="block-footer-info-item__link">
                            How we help
                        </a>
                        <a href="#" class="block-footer-info-item__link">
                            Get involved
                        </a>
                        <a href="#" class="block-footer-info-item__link">
                            Latest news
                        </a>
                    </div>
                    <div class="block-footer-info-item">
                        <div class="block-footer-info-item__title">
                            <span>follow us</span>
                        </div>
                        <div class="block-footer-info-item__line"></div>
                        <a href="#" class="block-footer-info-item__link">
                            Facebook
                        </a>
                        <a href="#" class="block-footer-info-item__link">
                            Twitter
                        </a>
                        <a href="#" class="block-footer-info-item__link">
                            Instagram
                        </a>
                        <a href="#" class="block-footer-info-item__link">
                            Medium
                        </a>
                    </div>

                </div>
                <div class="block-footer__tag">
                    <span>
                        #stop
                        climate
                        change
                    </span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>