<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div class="wrap">
            <div class="block-header">
                <a href="../index.html" class="block-header-logo">
                    The Green Trees Initiative
                </a>
                <nav class="block-header-menu">
                    <a href="About-us.html" class="block-header-menu__item">About us</a>
                    <a href="our-stories.html" class="block-header-menu__item">Our stories</a>
                    <a href="News-and-events.html" class="block-header-menu__item">News and events</a>
                    <a href="donation1.html" class="button">Donate Today</a>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>