<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/media.css">
    <link rel="stylesheet" href="../css/fonts.css">
</head>

<body>
    <!-- header -->
    <header class="header default">
        <div class="wrap header__wrap">
            <div class="logo header__logo">
                <div class="logo__img">
                    <img src="../img/svg/mamon-logo.svg" alt="logo">
                </div>
                <span class="logo__title">mamon</span>
            </div>

            <div class="header__desktop">
                <div class="list header__list">
                    <a href="#services" class="list__item">Services</a>
                    <a href="#clients" class="list__item">Clients</a>
                    <a href="#team" class="list__item">Team</a>
                    <a href="#contact" class="list__button">Contact us</a>
                </div>
            </div>

            <div class="header__mobile">
                <a  class="hamburger header__hamburger">
                    <div class="hamburger__line"></div>
                    <div class="hamburger__line"></div>
                    <div class="hamburger__line"></div>
                </a>
                <div class="list header__list header__list-mobile">
                    <a href="#services" class="list__item list__item--active">Services</a>
                    <a href="#clients" class="list__item">Clients</a>
                    <a href="#team" class="list__item">Team</a>
                    <a href="#contact" class="list__button">Contact us</a>
                </div>
            </div>
        </div>
    </header>

    <!-- content -->
    <div class="content">
        <div class="wrap content__wrap">
            <h1 class="title content__title">
                We're an independent development agency.
            </h1>
            <p class="subtitle content__subtitle">
                We understand the intricacies of web development inside-out. That's why we build rock-solid Mobile and
                Web applications enriched with user-centered visual experiences.
            </p>
            <a href="#" class="button content__button">Contant Us</a>
        </div>
    </div>

    <!-- services -->
    <div class="services bordered" id="services">

        <div class="wrap services__wrap">
            <h1 class="heading services__heading">
                our services
            </h1>
            <div class="cards services__cards">

                <div class="item services__item">
                    <div class="item__img">
                        <img src="../img/svg/smartphone.svg" alt="">
                    </div>
                    <div class="item__text">
                        <h3>Mobile Development</h3>
                        <p>
                            We develop mobile apps for all contemporary
                            mobile platforms. Mamon team builds
                            native and cross-platform solutions.
                        </p>
                    </div>
                </div>

                <div class="item services__item">
                    <div class="item__img">
                        <img src="../img/svg/monitor.svg" alt="">
                    </div>
                    <div class="item__text">
                        <h3>Web Development</h3>
                        <p>
                            Mamon offers full range of services from various
                            CMS and frameworks based websites to complex
                            ERP/CRM solutions and e-commerce stores.
                        </p>
                    </div>
                </div>

                <div class="item services__item">
                    <div class="item__img">
                        <img src="../img/svg/layers.svg" alt="">
                    </div>
                    <div class="item__text">
                        <h3>Product Design</h3>
                        <p>
                            We create design given the product audience,
                            goal, business domain, technology and
                            the platform for the solution.
                        </p>
                    </div>
                </div>

                <div class="item services__item">
                    <div class="item__img">
                        <img src="../img/svg/test.svg" alt="">
                    </div>
                    <div class="item__text">
                        <h3>Quality Assurance</h3>
                        <p>
                            Our QA team ensures high standard of
                            quali
                            ty of products delivered.

                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- clients -->
    <div class="clients bordered" id="clients">
        <div class="wrap clients__wrap">
            <h1 class="heading">
                our clients
            </h1>
            <div class="cards clients__cards">
                <div class="item clients__item">
                    <div class="clients__img">
                        <img src="../img/svg/companies/logo-lightspeed.svg" alt="">
                    </div>
                    <div class="clients__img">
                        <img src="../img/svg/companies/logo-trvl.svg" alt="">
                    </div>
                    <div class="clients__img">
                        <img src="../img/svg/companies/logo-shutterfly.svg" alt="">
                    </div>
                    <div class="clients__img">
                        <img src="../img/svg/companies/logo-decos.svg" alt="">
                    </div>
                    <div class="clients__img">
                        <img src="../img/svg/companies/logo-flitsmeister.svg" alt="">
                    </div>
                    <div class="clients__img">
                        <img src="../img/svg/companies/logo-sap.svg" alt="">
                    </div>
                </div>

                <div class="item clients__item">
                    <div class="clients__img">
                        <img src="../img/svg/companies/logo-spider-strategies.svg" alt="">
                    </div>
                    <div class="clients__img">
                        <img src="../img/svg/companies/logo-tripadvisor.svg" alt="">
                    </div>
                    <div class="clients__img">
                        <img src="../img/svg/companies/logo-tiqets.svg" alt="">
                    </div>
                    <div class="clients__img">
                        <img src="../img/svg/companies/logo-hotelchamp.svg" alt="">
                    </div>
                    <div class="clients__img">
                        <img src="../img/svg/companies/logo-redkix.svg" alt="">
                    </div>
                    <div class="clients__img">
                        <img src="../img/svg/companies/logo-nos.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- team -->
    <div class="team bordered" id="team">
        <div class="wrap team__wrap">
            <h1 class="heading">
                our team
            </h1>
            <div class="cards team__cards">
                <div class="item team__item">
                    <img src="../img/1.png" alt="" class="item__img">
                    <div class="item__text">
                        <h3>Vadim</h3>
                        <p>Managing Director</p>
                    </div>
                </div>

                <div class="item team__item">
                    <img src="../img/2.png" alt="" class="item__img">
                    <div class="item__text">
                        <h3>Sergey</h3>
                        <p>Technology Director</p>
                    </div>
                </div>

                <div class="item team__item">
                    <img src="../img/3.png" alt="" class="item__img">
                    <div class="item__text">
                        <h3>Andrey</h3>
                        <p>Front-end Developer</p>
                    </div>
                </div>

                <div class="item team__item">
                    <img src="../img/4.png" alt="" class="item__img">
                    <div class="item__text">
                        <h3>Alex</h3>
                        <p>Front-end Developer</p>
                    </div>
                </div>

                <div class="item team__item">
                    <img src="../img/5.png" alt="" class="item__img">
                    <div class="item__text">
                        <h3>Agneshka</h3>
                        <p>Mobile Developer</p>
                    </div>
                </div>

                <div class="item team__item">
                    <img src="../img/6.png" alt="" class="item__img">
                    <div class="item__text">
                        <h3>Vadim</h3>
                        <p>Managing Director</p>
                    </div>
                </div>

                <div class="item team__item">
                    <img src="../img/7.png" alt="" class="item__img">
                    <div class="item__text">
                        <h3>Dmitry</h3>
                        <p>Back-end Developer</p>
                    </div>
                </div>

                <div class="item team__item">
                    <img src="../img/8.png" alt="" class="item__img">
                    <div class="item__text">
                        <h3>Tom</h3>
                        <p>Product Designer</p>
                    </div>
                </div>

                <div class="item team__item">
                    <img src="../img/9.png" alt="" class="item__img">
                    <div class="item__text">
                        <h3>Evgeny</h3>
                        <p>Product Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="footer">
        <div class="wrap footer__wrap">
            <img src="../img/svg/mamon-logo.svg" alt="" class="logo footer__logo">
            <div class="list footer__list">
                <a href="#" class="list__item"><img src="../img/svg/.svg" alt=""></a>
                <a href="#" class="list__item"><img src="../img/svg/.png" alt=""></a>
                <a href="#" class="list__item"><img src="../img/svg/.png" alt=""></a>
                <a href="#" class="list__item"><img src="../img/svg/.png" alt=""></a>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="../js/index.js"></script>
</body>

</html>